<html lang="en">
    <mystyling/>
    <myhead/>
    <body class="d-block mx-auto" style="max-width: 1600px;">
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <myheader/>
            <main>
                <h1 class="mb-3"><mytitle/></h1>
                <h5 class="card-subtitle mb-4 text-muted"><mydate/></h5>
                <div class="fs-5">
                    <mycontent/>
                </div>
                <myhr/>
            </main>
            <myfooter/>
        </div>
    </body>
    <myscripting/>
<html>