<div class="card shadow mx-auto mt-2 mb-3" style="width: 500px;">
    <div class="card-body">
        <h5 class="card-title">Who I am</h5>
        <p class="card-text">Greetings!<br><br>
            I am <span class="fst-italic">Extremq</span>, a computer science enthusiast who thrives by helping others and creating all kinds of things.<br><br>
            Also find my other presences online on <a href="https://github.com/extremq" class="link-secondary" target="_blank">GitHub</a> and <a href="https://youtube.com/c/extremq" class="link-danger" target="_blank">YouTube</a>.
        </p>
    </div>
</div>