<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>__AUTHOR__</title>
     
    <meta name="title" content="__AUTHOR__">
    <meta name="description" content="__AUTHOR__'s personal website.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="__DOMAIN__">
    <meta property="og:title" content="__AUTHOR__">
    <meta property="og:description" content="__AUTHOR__'s personal website.">
    <meta property="og:image" content="https://i.imgur.com/PaWldXw.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="__DOMAIN__">
    <meta property="twitter:title" content="__AUTHOR__">
    <meta property="twitter:description" content="__AUTHOR__'s personal website.">

    <myincludes/>
</head>
