<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>extremq</title>
     
    <meta name="title" content="extremq">
    <meta name="description" content="Extremq's personal website.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://extremq.github.io/">
    <meta property="og:title" content="extremq">
    <meta property="og:description" content="Extremq's personal website.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://extremq.github.io/">
    <meta property="twitter:title" content="extremq">
    <meta property="twitter:description" content="Extremq's personal website.">

    <myincludes/>
</head>