<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="https://extremq.github.io/res/favicon.ico">
    <meta charset="utf-8">
    <title>white space</title>
    
    <meta name="title" content="white space">
    <meta name="description" content="white space is Extremq's personal website.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://extremq.github.io/">
    <meta property="og:title" content="shobi - cat blog & friends">
    <meta property="og:description" content="white space is Extremq's personal website.">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://extremq.github.io/">
    <meta property="twitter:title" content="shobi - cat blog & friends">
    <meta property="twitter:description" content="white space is Extremq's personal website.">

    <myincludes/>
</head>
<header>
    <div class="container" style="max-width: 600px;">
        <nav class="navbar navbar-light bg-transparent" style="margin:auto">
            <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                <a class="navbar-brand mx-auto" href="https://extremq.github.io/">white space</a>
            </div>
        </nav>
    </div>
</header>