<!-- Different from head.html because it generates embeds based on post. -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>__AUTHOR__ – <mytitle/></title>
     
    <meta name="title" content="<mytitle/>">
    <meta name="description" content="<mypostdesc/>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<mypostlink/>">
    <meta property="og:title" content="<mytitle/>">
    <meta property="og:description" content="<mypostdesc/>">
    <meta property="og:image" content="https://i.imgur.com/PaWldXw.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<mypostlink/>">
    <meta property="twitter:title" content="<mytitle/>">
    <meta property="twitter:description" content="<mypostdesc/>">
    <myincludes/>
</head>