<h1>extremq.github.io</h1>
<p class="fs-5 mb-5">
    The site you're browsing right now has been build using a custom generator using Python.
    <br>
    <br> 
    It supports templates and components and is a lower-level framework aimed at static websites.
    <br>
    <br>
    Source code <mylink(https://github.com/extremq/extremq.github.io|here)/>, article about it <mylink(https://extremq.github.io/view/how-i-built-this-site.html|here)/>.
</p>
<h1>#ninja</h1>
<p class="fs-5 mb-5">
    Ninja is a module for the game <mylink(https://www.transformice.com/|Transformice)/>.
    <br>
    <br>
    It's written in Lua (similarly to ROBLOX) and it's a complex minigame which empowers players with ninja abilities.
    I wrote a dynamic GUI system for it using only primitives (window, image, text) in Lua, it has a player database and it's based on async events.
    <br>
    At times, it had <mylink(https://i.imgur.com/cKN84BE.png|over 100 concurrent players)/>. <mylink(https://youtu.be/qJC8t1gVC-s|Here)/> is a video showcasing gameplay with 40 players.
    <br>
    <br>
    Source code <mylink(https://github.com/extremq/ninja|here)/>, article about it <mylink(https://atelier801.com/topic?f=6&t=888380&p=1|here)/>.
</p>
<h1>shobi</h1>
<p class="fs-5 mb-5">
    Shobi is a website that I created in order to post pictures of cats.
    It's written in Node.js and Express, has a database provided by MongoDB and the frontend was built using Bootstrap (images hosted by Imgur).
    <br>
    <br>
    The site supports liking, commenting, notifications, tagging, mentioning and markdown.
    <br>
    <br>
    Live version <mylink(https://shoby.herokuapp.com/posts|here)/>, source code <mylink(https://github.com/extremq/shobi-node|here)/>.
    <br>
    Click on the images to view them in a new tab.
    <p class="text-center">General interface.</p>
    <myimg(https://i.imgur.com/s3GTQA0.png)/>
    <p class="text-center">Search parameters.</p>
    <myimg(https://i.imgur.com/g3KsoJm.png)/>
    <p class="text-center">A post that supports markdown.</p>
    <myimg(https://i.imgur.com/2HPzgfa.png)/>
    <p class="text-center">Comments.</p>
    <myimg(https://i.imgur.com/vFRDgIO.png)/>
</p>
<h1>float</h1>
<p class="fs-5 mb-5">
    Float is a calculator made with Python using Tkinter.
    <br>
    I created it because I didn't like the tool provided by my university.
    Its scope is calculating the error percentage and the linear regression of experimental data.
    <br>
    <br>
    Source code <mylink(https://github.com/extremq/float|here)/>, article about it <mylink(https://extremq.github.io/view/float-the-calculator.html|here)/>.
    <p class="text-center">Computing the error percentage.</p>
    <myimg(https://i.imgur.com/ob7MQ7e.png)/>
    <p class="text-center">Computing the linear regression.</p>
    <myimg(https://i.imgur.com/aJepcZt.png)/>
</p>
