<!-- This will be the script available in all pages-->
<!--NO SCRIPT :D NVM-->
<script>
function waitForElm(selector) {
    return new Promise(resolve => {
        if (document.querySelector(selector)) {
            return resolve(document.querySelector(selector));
        }

        const observer = new MutationObserver(mutations => {
            if (document.querySelector(selector)) {
                resolve(document.querySelector(selector));
                observer.disconnect();
            }
        });

        observer.observe(document.body, {
            childList: true,
            subtree: true
        });
    });
}

waitForElm('.giscus').then((elm) => {
    console.log(elm)
    elm.style.width = "95%"
});
</script>